         
         .btn-grad {
            background-image: linear-gradient(to right, #007991 0%, #78ffd6  51%, #007991  100%);
            margin: 10px;
            /* padding: 15px 45px; */
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; 
            color: #fff;
            text-decoration: none;
          }
         
                   
         .btn-grad1 {
            background-image: linear-gradient(to right, #abbaab 0%, #ffffff  51%, #abbaab  100%);
            margin: 10px;
            /* padding: 15px 45px; */
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: rgb(15, 195, 219);            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            font-weight: 700;
          }

          .btn-grad:hover {
            background-position: right center; 
            text-decoration: none;
          }
         